p
  margin: 0
body
  background: gray

.md-toolbar.md-default-theme:not(.md-menu-toolbar), .md-toolbar:not(.md-menu-toolbar)
  background-color: rgb(202, 202, 202) !important
  color: rgba(255,255,255,0.87)

.grid-card-layout
  justify-content: space-around

.containerBall
  width: 19.06em
  height: 100%

.modelsSample
  width: 21em
