p {
  margin: 0; }

body {
  background: gray; }

.md-toolbar.md-default-theme:not(.md-menu-toolbar), .md-toolbar:not(.md-menu-toolbar) {
  background-color: #cacaca !important;
  color: rgba(255, 255, 255, 0.87); }

.grid-card-layout {
  justify-content: space-around; }

.containerBall {
  border: 1px solid red;
  width: 19.06em;
  height: 100%; }
